<%- include('layout/header.ejs') -%>

<div class="content-box">
	<% videos.forEach((video) => { %>
		<a class="videoCard" href="https://youtube.com/watch?v=<%= video.id.videoId %>" target="_blank" >
			<img src="<%= video.snippet.thumbnails.high.url %>"/>
			<span><%= video.snippet.title %></span>
		</a>
	<% }); %>
</div>

<%- include('layout/footer.ejs') -%>